body {
    padding: 0 ;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1 em ;
    line-height: 150% ;
    color: #777777 ;
    background: #ffffff ;
}
h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1 {
    float: left;
    position: relative;
    height: 72px;
    width: 25%;
    padding: 0px 0px ;
    margin: 0;
    margin-bottom: 20 px;
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    background: #4aaaa5;
}
#links {
    float: right;
    width: 30%;
    padding-right: 2%;
}

.about {
    float: right;
    position: relative;
    padding: 20px 0px ;
    margin: 0;
    margin-bottom: 18 px;
    font-size: 24px;
    color: #4aaaa5;
    text-align: right;
    background: #ffffff;
}
.portfolio {
    float: right;
    position: relative;
    padding: 20px 0px ;
    margin: 0;
    margin-bottom: 18 px;
    font-size: 24px;
    color: #4aaaa5;
    text-align: right;
    background: #ffffff;
}
.contact {
    float: right;
    position: relative;
    padding: 20px 0px ;
    margin: 0;
    margin-bottom: 18 px;
    font-size: 24px;
    color: #4aaaa5;
    text-align: right;
    background: #ffffff;
}
h2 {
    float: left;
    margin-left:10%;
    margin-right: 10%; 
}
p {
    float: right;
    margin-left: 10%;
    margin-right: 10%;
}
.container {
    border: 0px solid #777777;
    border-bottom-width: 2px;
}
a {
    text-decoration: none;
    color: #777777;

}
a:hover {
    color: #5e5e5e;
}
a:active {
    color: #c4c4c4;
}