
body {
    padding: 0 ;
    margin: 0 ;
    line-height: 150% ;
    font-size: 1 em ;
    font-family: Arial, Helvetica, sans-serif ;
    color: #777777 ;
    background: #ffffff ;
}
h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1 {
    width: 20%;
    text-align: center;
    position: relative;
    padding: 20px 15px 0px 15px;
    margin: 0 0 -10% 10%;
    /* margin-left: 10%; */
    line-height: .8em;
    height: 1.6em;
    font-size: 1.75em;
    float: left;
    color: #ffffff;
    background: #4aaaa5;
}
#links {
    width: 40%;
    text-align: right;
    position: relative;
    margin: .4em 10% 0 0;
    /* margin-right: 10%; */
    font-size: 1em;
    float: right;
    color: #4aaaa5;
    /* border-bottom: 2px solid #cccccc; */
    background: #ffffff;
}

h2 {
    width: 75%;
    padding: 2.5%;
    margin: 0% 10% 0 10%;
    font-size: 1.5em;
    float: left;
    border: 2px solid #dddddd;
    border-bottom: 0px;
    background: #ffffff;
}
p {
    width: 75%;
    position: relative;
    padding: 2.5%;
    margin: 0 10% 0 10%;
    float: left;
    border: 2px solid #dddddd;
    background: #ffffff;
}
img {
    float: left;
    /* margin-right: 1.25em; */
    margin-right: 2.5%;
}
.container {
    height: 4em;
    padding: 0 0 1px 0;
    border: 0px solid #cccccc;
    border-bottom-width: 2px;
    background: #ffffff;
}
a {
    text-decoration: none;
    color: #777777;

}
a:hover {
    color: #5e5e5e;
}
a:active {
    color: #c4c4c4;
}
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    padding-top: 3%;
    left: 0;
    height: 2.5em;
    color: #ffffff;
    bottom: 0;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
}
header {
    border: 0 solid #cccccc;
    border-bottom: 2px;
}
#TT, #TT:link, #TT:hover {
    color: #ffffff;
}
input[type=text], select, textarea {
    width: 70%;
    resize: vertical;
    padding: 12px;
    margin: 6px 0% 16px 5%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
 input[type=submit] {
    padding: 12px 20px;
    float: left;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #4aaaa5;
  }
  
 input[type=submit]:hover {
    background-color: #79a7a4;
  }
  
 .msg {
    width: 80%;
    padding: 0px;
    margin: 0% 10% 0 10%;
    float:left;
    border: 2px solid #dddddd;
    background-color: #ffffff;
  }
  #message {
    margin-left: 6.25%;
  }
  label {
    float: left;
    margin: 6px 0% 16px 10%;
  }
  .cbox {
      border: 0;
      margin: 0;
      padding-bottom: 0;
  }
  #sub {
    padding: 2.5%;  
    margin-left: 7.5%;
  }